<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.glanway.jty.dao.marketing.CategoryGoodsCommendDao">
	<!-- if need -->
	<resultMap id="cgmRM" type="CategoryGoodsCommend">
		<id property="id" column="ID" />
		<result property="pic" column="PIC" />
		<result property="floor" column="FLOOR" />
		<result property="sort" column="SORT" />
		<result property="deleted" column="DELETED" />
		<result property="createdBy" column="CREATED_BY" />
		<result property="createdDate" column="CREATED_DATE" />
		<result property="lastModifiedBy" column="LAST_MODIFIED_BY" />
		<result property="lastModifiedDate" column="LAST_MODIFIED_DATE" />
		<association property="category" javaType="Category">
			<id property="id" column="CID"/>
			<id property="name" column="CNAME"/>
		</association>
		<collection property="categoryGoodses" ofType="CategoryGoods" columnPrefix="C_">
			<id column="ID" property="id"/>
			<result column="SORT" property="sort"/>
			<association property="goods" javaType="Goods" columnPrefix="G_">
				<id column="ID" property="id"/>
				<result column="sn" property="sn"/>
				<result column="TITLE" property="title"/>
				<result column="INTRO" property="intro"/>
				<result column="PRICE" property="price"/>
				<result column="STOCK" property="stock"/>
				<result column="IMAGE" property="image"/>
				<association property="product" javaType="Product" columnPrefix="PT_">
					<id column="ID" property="id"/>
					<result column="IS_PUTAWAY" property="isPutaway"/>
					<association property="category" javaType="Category" columnPrefix="A_">
						<id column="ID" property="id"/>
						<id column="NAME" property="name"/>
					</association>
					<association property="label" javaType="Label" columnPrefix="L_">
						<id column="ID" property="id"/>
					</association>
				</association>
			</association>
		</collection>
	</resultMap>

	<!--sql -->
	<sql id="baseCols">
		ID,
		CATEGORY_ID,
		PIC,
		FLOOR,
		SORT,
		DELETED,
		CREATED_BY,
		CREATED_DATE,
		LAST_MODIFIED_BY,
		LAST_MODIFIED_DATE
	</sql>

	<sql id="baseQuery">
		SELECT
		<include refid="baseCols" />
		FROM
		T_CATEGORY_COMMEND
	</sql>



	<sql id="baseFilter">
		<if test="pic != null">
			AND PIC = #{pic}
		</if>
		<if test="floor != null">
			AND FLOOR = #{floor}
		</if>
		<if test="category != null and category.id != null">
			AND CATEGORY_ID = #{category.id}
		</if>
		<if test="lastModifiedBy != null">
			AND LAST_MODIFIED_BY = #{lastModifiedBy}
		</if>
		<if test="lastModifiedDate != null">
			AND LAST_MODIFIED_DATE = #{lastModifiedDate}
		</if>

		<if test="sort != null">
			AND SORT = #{sort}
		</if>
		AND DELETED = 0
		<!-- more -->
	</sql>
	<!-- retrieve by id -->
	<select id="find" parameterType="long" resultMap="cgmRM">
		SELECT
			R.*
		FROM (
		<include refid="baseQuery" />
		WHERE ID = #{id} AND DELETED = 0
		) R

	</select>

	<!-- retrieve a unique entity -->
	<select id="findOne" parameterType="map" resultMap="cgmRM">
		<include refid="baseQuery" />
		<where>
			<include refid="baseFilter" />
		</where>
	</select>

	<!-- retrieve many entities -->
	<select id="findMany" parameterType="map" resultMap="cgmRM">
		SELECT
			R.*,
			AG.ID				C_ID,
			AG.SORT				C_SORT,
			TG.ID				C_G_ID,
			TG.SN 				C_G_SN,
			TG.TITLE			C_G_TITLE,
			TG.INTRO          C_G_INTRO,
			TG.PRICE			C_G_PRICE,
			TG.IMAGE			C_G_IMAGE,
			TP.ID				C_G_PT_ID,
			TP.SALES			C_G_PT_SALES,
		    TP.LABEL_ID      C_G_PT_L_ID,
			TCC.ID				C_G_PT_A_ID,
			TCC.NAME			C_G_PT_A_NAME
		FROM (
        <include refid="support.ph" />
			SELECT
			TAM.*,
			TC.ID		CID,
			TC.NAME		CNAME
			FROM
			T_CATEGORY_COMMEND TAM
			LEFT JOIN T_CATEGORY TC ON TAM.CATEGORY_ID = TC.ID AND TC.DELETED=0
		<where>
			<include refid="support.dynamicFilters" />
			AND TAM.DELETED=0
		</where>
		ORDER BY
		<trim prefixOverrides=",">
			<include refid="support.dynamicSort" />,SORT
		</trim>
        <include refid="support.pf" />
		) R
		INNER JOIN T_CATEGORY_GOODS AG  ON AG.CATEGORY_GOODS_COMMEND_ID= R.ID AND AG.DELETED=0
		INNER JOIN T_GOODS TG ON AG.GOODS_ID = TG.ID AND TG.DELETED=0
		INNER JOIN T_PRODUCT TP ON TG.PRODUCT_ID =TP.ID AND TP.DELETED=0
		<if test="_province != null">
			INNER  JOIN T_PROVINCE_PRODUCT PP ON PP.PRODUCT_ID= TP.ID AND PP.PROVINCE_ID=#{_province}
		</if>
		LEFT JOIN T_CATEGORY TCC ON TP.CATEGORY_ID = TCC.ID AND TCC.DELETED=0
	</select>


	<select id="findMany2" parameterType="map" resultMap="cgmRM">
		SELECT
		R.*
		FROM (
		<include refid="support.ph" />
		SELECT
		TAM.*,
		TC.ID		CID,
		TC.NAME		CNAME
		FROM
		T_CATEGORY_COMMEND TAM
		LEFT JOIN T_CATEGORY TC ON TAM.CATEGORY_ID = TC.ID AND TC.DELETED=0
		<where>
			<include refid="support.dynamicFilters" />
			AND TAM.DELETED=0
		</where>
		ORDER BY
		<trim prefixOverrides=",">
			<include refid="support.dynamicSort" />,SORT
		</trim>
		<include refid="support.pf" />
		) R
	</select>

	<!-- count -->
	<select id="count" parameterType="map" resultType="int">
		SELECT
		COUNT(1)
		FROM (
			SELECT
			TAM.*,
			TC.ID		CID,
			TC.NAME		CNAME
				FROM
		T_CATEGORY_COMMEND TAM
		LEFT JOIN T_CATEGORY TC ON TAM.CATEGORY_ID = TC.ID AND TC.DELETED=0
		<where>
			<include refid="support.dynamicFilters" />
			AND TAM.DELETED=0
		</where>
		) R
	</select>
	<!-- - - - - - - - - - - Create - - - - - - - - - -->

	<insert id="save" parameterType="CategoryGoodsCommend"  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO T_CATEGORY_COMMEND (
		<include refid="baseCols" />
		) VALUES (
		#{id},
		#{category.id},
		#{pic},
		#{floor},
		#{sort},
		#{deleted},
		#{createdBy},
		#{createdDate},
		#{lastModifiedBy},
		#{lastModifiedDate}
		)
	</insert>



	<!-- - - - - - - - - - - - Update - - - - - - - - - -->

	<update id="update" parameterType="CategoryGoodsCommend">
		UPDATE T_CATEGORY_COMMEND
		<set>
			<if test="pic != null">
				PIC = #{pic},
			</if>
			<if test="category != null and category.id != null ">
				CATEGORY_id = #{category.id},
			</if>
			<if test="floor != null">
				floor = #{floor},
			</if>
			<if test="sort != null">
				 SORT = #{sort},
			</if>
			<if test="deleted != null">
				 DELETED = #{deleted},
			</if>
			<if test="lastModifiedBy != null">
				 LAST_MODIFIED_BY = #{lastModifiedBy},
			</if>
			<if test="lastModifiedDate != null">
				 LAST_MODIFIED_DATE = #{lastModifiedDate},
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<!-- - - - - - - - - - - Delete - - - - - - - - - -->

	<update id="delete" parameterType="CategoryGoodsCommend">
		UPDATE T_CATEGORY_COMMEND SET DELETED = 1 WHERE ID = #{id}
	</update>


	<select id="findDetail" resultType="long" resultMap="cgmRM">
		SELECT
			AM.ID ,
			AM.PIC,
			AM.FLOOR,
			AM.SORT,
			AG.ID		C_ID,
			AG.SORT		C_SORT,
			TC.ID 		CID,
			TC.NAME		CNAME,
			TG.ID 		C_G_ID,
			TG.SN		C_G_SN,
			TG.TITLE 	C_G_TITLE,
			TG.INTRO 	C_G_INTRO,
			TG.PRICE 	C_G_PRICE,
			TG.IMAGE 	C_G_IMAGE,
			TP.SALES 	C_G_PT_SALES,
			TP.ID  		C_G_PT_ID,
			TP.INTRO 	C_G_PT_INTRO,
			TP.WEIGHT 	C_G_PT_WEIGHT,
			TCC.ID		C_G_PT_A_ID,
			TCC.NAME	C_G_PT_A_NAME
		FROM T_CATEGORY_COMMEND AM
		LEFT JOIN T_CATEGORY TC ON AM.CATEGORY_ID= TC.ID AND TC.DELETED=0
		LEFT JOIN T_CATEGORY_GOODS  AG ON AM.ID= AG.CATEGORY_GOODS_COMMEND_ID AND AG.DELETED=0
		LEFT JOIN T_GOODS TG ON AG.GOODS_ID = TG.ID AND TG.DELETED=0
		LEFT JOIN T_PRODUCT TP ON TG.PRODUCT_ID =TP.ID AND TP.DELETED=0 AND TP.IS_PUTAWAY=1
		LEFT JOIN T_CATEGORY TCC ON TP.CATEGORY_ID = TCC.ID AND TCC.DELETED = 0
		WHERE  AM.DELETED=0 AND AM.ID=#{id}
		ORDER BY AG.SORT ASC
	</select>

</mapper>
