<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Template Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>6000</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>${webAppRootKey}</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.glanway.jty.servlet.jsp.EscapeXmlELResolverListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.glanway.jty.servlet.AllProvinceListener</listener-class>
    </listener>

    <filter>
        <filter-name>webContextFilter</filter-name>
        <filter-class>org.ponly.spring.web.RefreshableDelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>webContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>multipart</servlet-name>
        <servlet-class>org.ponly.spring.web.DelegatingServletProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 允许上传到 imgs/ 文件夹下, 如果需要更多, 类似添加 mapping 即可 -->
    <servlet-mapping>
        <servlet-name>multipart</servlet-name>
        <url-pattern>/storage/images/*</url-pattern>
    </servlet-mapping>
    <!-- 允许上传到 files/ 文件夹下 -->
    <servlet-mapping>
        <servlet-name>multipart</servlet-name>
        <url-pattern>/storage/files/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ueditor</servlet-name>
        <servlet-class>org.ponly.spring.web.DelegatingServletProxy</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ueditor</servlet-name>
        <url-pattern>/ueditor/*</url-pattern>
    </servlet-mapping>

    <!-- charset encoding filter -->
    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--第三方登录过滤器-->
    <filter>
        <filter-name>oauth2</filter-name>
        <filter-class>org.ponly.oauth2.support.PropertiesOauth2WebRealmFilter</filter-class>
        <init-param>
            <param-name>oauth.qq.appid</param-name>
            <param-value>101294503</param-value>
        </init-param>
        <init-param>
            <param-name>oauth.qq.appkey</param-name>
            <param-value>a6ea79630c2ecd8bf2034f18092894b9</param-value>
        </init-param>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>/oauth</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>oauth2</filter-name>
        <!--
            认证地址: /oauth/{channel} or /oauth/{channel}/authorize
            授权回调: /oauth/{channel}/callback
        -->
        <url-pattern>/oauth/*</url-pattern>
    </filter-mapping>

    <!-- S spring mvc -->
    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- E spring mvc -->
    <!-- S welcome file -->
   <!-- <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>-->
    <!-- E welcome file-->

    <!-- S error page -->
   <!-- <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/view/403.jsp</location>
    </error-page>-->
    <!--<error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>-->
    <!-- E error page  -->



    <!-- S jsp property group -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
            <url-pattern>*.html</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <!--<include-prelude>/WEB-INF/view/prelude.jspf</include-prelude>-->
            <!--<include-coda>/WEB-INF/view/coda.jspf</include-coda>-->
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    
    <!-- E jsp property group -->
</web-app>
